
@app-header-bg: #000;
@app-header-height: 50px;

#root, body, html {
  padding: 0;
  margin: 0;
}

.app {

}

.app-header {
  height: @app-header-height;
  line-height: @app-header-height;
  background-color: @app-header-bg;
}
